/src/
.DS_Store
.idea/
/silverstripe-cache/
/assets
/vendor/
/framework/
/docsviewer/
/toolbar/
/display_logic/
/silverstripe-dynamodb/
/crontask/
/quickfeedback/
/.vagrant/
Vagrantfile
_ss_environment.php