### SILVERSTRIPE START ###
<Files *.ss>
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files web.config>
	Order deny,allow
	Deny from all
</Files>

# This denies access to all yml files, since developers might include sensitive
# information in them. See the docs for work-arounds to serve some yaml files
<Files *.yml>
	Order allow,deny
	Deny from all
</Files>

ErrorDocument 404 /assets/error-404.html
ErrorDocument 500 /assets/error-500.html

<IfModule mod_alias.c>
	RedirectMatch 403 /silverstripe-cache(/|$)
	RedirectMatch 403 /vendor(/|$)
	RedirectMatch 403 /composer\.(json|lock)
	RedirectMatch 403 /assets/\.lucene-index(/|$)
</IfModule>

<IfModule mod_rewrite.c>
	SetEnv HTTP_MOD_REWRITE On
	RewriteEngine On

	RewriteCond %{REQUEST_URI} ^(.*)$
	RewriteCond %{REQUEST_FILENAME} !-f

	# Work around broken search controller routing with $link_base=''
	# See https://github.com/silverstripe/silverstripe-docsviewer/issues/27
	RewriteRule ^DocumentationSearchForm/?(.*)$ /dev/docs/DocumentationSearchForm/$1 [R=301,L]

	#Strip .md extension
    RewriteRule ^(.*)\.md/?$ /$1 [R=301,L]

	RewriteRule ^en/([0-9]\.[0-9])/basic-overview/?$ /en/$1 [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-administrators/?$ /en/$1/managing_your_website [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/?$ /en/$1/creating_pages_and_content [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/creating-and-editing-content/?$ /en/$1/creating_pages_and_content [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/forms/?$ /en/$1/optional_features/forms [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/forums/?$ /en/$1/optional_features/forums [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/managing-your-site/?$ /en/$1/creating_pages_and_content/pages [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/web-content-best-practises/?$ /en/$1/creating_pages_and_content/web_content_best_practises [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/working-with-images-and-documents/?$ /en/$1/creating_pages_and_content/working_with_images_and_documents [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/working-with-multiple-sites/?$ /en/$1/optional_features/working_with_multiple_sites [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/working-with-translations/?$ /en/$1/optional_features/working_with_translations [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/introduction-and-logging-in/?$ /en/$1/managing_your_website/logging_in [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-administrators/setting-up-advancedworkflow/?$ /en/$1/optional_features/setting_up_advancedworkflow [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-administrators/changing-and-managing-users/?$ /en/$1/managing_your_website/changing_and_managing_users [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-administrators/managing-roles-and-permissions/?$ /en/$1/managing_your_website/managing_roles_and_permissions [R=301,L]
    RewriteRule ^en/([0-9]\.[0-9])/for-website-content-editors/blogs/?$ /en/$1/optional_features/blogs [R=301,L]

	# Legacy rewrites
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} ^(?:(.*)/)?framework\/en [NC]
	RewriteRule ^framework\/en\/(.*)$ %1/en/$1 [R=301,L]

	RewriteCond %{REQUEST_URI} ^(.*)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !\.php$
	RewriteRule .* framework/main.php?url=%1 [QSA]

	RewriteCond %{REQUEST_URI} ^(.*)/framework/main.php$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . %1/install.php? [R,L]

</IfModule>
### SILVERSTRIPE END ###

FileETag INode MTime

<IfModule mod_expires.c>
        ExpiresActive on
        ExpiresByType image/* "access plus 7 days"
        ExpiresByType text/css "access plus 7 days"
        ExpiresByType application/x-javascript "access plus 7 days"
        ExpiresByType application/javascript "access plus 7 days"
</IfModule>

<IfModule mod_deflate.c>
	SetOutputFilter DEFLATE
</IfModule>