<phpunit bootstrap="framework/tests/bootstrap.php" colors="true">
	<testsuite name="Default">
		<directory>./</directory>
	</testsuite>
	
	<filter>
		<blacklist>
			<directory suffix=".php">framework/dev/</directory>
			<directory suffix=".php">framework/thirdparty/</directory>
			<directory suffix=".php">cms/thirdparty/</directory>
			<file>framework/tests/PhpSyntaxTest.php</file>
		</blacklist>
	</filter>
	
	<listeners>
		<listener class="SS_TestListener" file="framework/dev/TestListener.php">
		</listener>
	</listeners>
	
	<groups>
		<exclude>
			<group>sanitychecks</group>
		</exclude>
	</groups>
	
</phpunit>